#### Загрузим данные из csv-файла

In [8]:
import pandas as pd

dataset = pd.read_csv("./dataset_product_per_country.csv", engine='python', on_bad_lines='skip', sep = ';')

#### Изучим содержимое датасета, используя различные методы, содержащиеся в библиотеке Pandas

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121079 entries, 0 to 121078
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   country_name  121079 non-null  object
 1   date          121079 non-null  object
 2   parameter     121079 non-null  object
 3   product       121079 non-null  object
 4   value         121056 non-null  object
 5   r1            121079 non-null  int64
 6   r2            121079 non-null  int64
 7   unit          121079 non-null  object
dtypes: int64(2), object(6)
memory usage: 7.4+ MB

In [10]:
dataset.head()

,country_name,date,parameter,product,value,r1,r2,unit
0,Australia,12.01.2023,Net Electricity Production,Electricity,22646.1901,8,719,GWh
1,Australia,12.01.2023,Net Electricity Production,Total Combustible Fuels,13397.9356,100,227,GWh
2,Australia,12.01.2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,80,919,GWh
3,Australia,12.01.2023,Net Electricity Production,Oil and Petroleum Products,289.5415,90,890,GWh
4,Australia,12.01.2023,Net Electricity Production,Natural Gas,3091.9272,98,704,GWh

In [11]:
dataset.tail()

,country_name,date,parameter,product,value,r1,r2,unit
121074,United States,01.01.2010,Total Imports,Electricity,5808.577,42,331,GWh
121075,United States,01.01.2010,Total Exports,Electricity,996.567,7,165,GWh
121076,United States,01.01.2010,Used for pumped storage,Electricity,2283.322,96,831,GWh
121077,United States,01.01.2010,Distribution Losses,Electricity,22933.297,83,603,GWh
121078,United States,01.01.2010,Final Consumption (Calculated),Electricity,343866.418,86,739,GWh

In [12]:
dataset.dtypes

country_name    object
date            object
parameter       object
product         object
value           object
r1               int64
r2               int64
unit            object
dtype: object

In [13]:
dataset.describe()

                  r1             r2
count  121079.000000  121079.000000
mean       50.532239     549.944912
std        28.824189     259.487929
min         1.000000     100.000000
25%        26.000000     325.000000
50%        51.000000     551.000000
75%        75.000000     774.000000
max       100.000000    1000.000000

In [14]:
dataset.columns

Index(['country_name', 'date', 'parameter', 'product', 'value', 'r1', 'r2',
       'unit'],
      dtype='object')

In [15]:
dataset['country_name'].value_counts().head()

country_name
France            3348
United Kingdom    3264
United States     3240
Germany           3230
Turkey            3205
Name: count, dtype: int64

#### Изменим структуру датасета, переименуем столбцы и индексы

In [19]:
dataset_rename = dataset.rename(columns={   # Заметим также, что без параметра inplace=True, сам датасет не изменяется
    'country_name': 'Страна',
    'date': 'Дата',
    'parameter': 'Параметр',
    'product': 'Продукт',
    'value': 'Значение',
    'r1': 'r1',
    'r2': 'r2',
    'unit': 'Юнит'
})
dataset_rename.columns

Index(['Страна', 'Дата', 'Параметр', 'Продукт', 'Значение', 'r1', 'r2',
       'Юнит'],
      dtype='object')

In [20]:
dataset_melt = dataset_rename
dataset_melt = pd.melt(dataset_rename, id_vars=['Страна', 'Дата', 'Параметр', 'Продукт', 'Значение', 'Юнит'], var_name='Переменные', value_name='ЗначениеПеременной')
dataset_melt

,Страна,Дата,Параметр,Продукт,Значение,Юнит,Переменные,ЗначениеПеременной
0,Australia,12.01.2023,Net Electricity Production,Electricity,22646.1901,GWh,r1,8
1,Australia,12.01.2023,Net Electricity Production,Total Combustible Fuels,13397.9356,GWh,r1,100
2,Australia,12.01.2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,GWh,r1,80
3,Australia,12.01.2023,Net Electricity Production,Oil and Petroleum Products,289.5415,GWh,r1,90
4,Australia,12.01.2023,Net Electricity Production,Natural Gas,3091.9272,GWh,r1,98
...,...,...,...,...,...,...,...,...
242153,United States,01.01.2010,Total Imports,Electricity,5808.577,GWh,r2,331
242154,United States,01.01.2010,Total Exports,Electricity,996.567,GWh,r2,165
242155,United States,01.01.2010,Used for pumped storage,Electricity,2283.322,GWh,r2,831
242156,United States,01.01.2010,Distribution Losses,Electricity,22933.297,GWh,r2,603
242157,United States,01.01.2010,Final Consumption (Calculated),Electricity,343866.418,GWh,r2,739

In [21]:
dataset_index = dataset_rename
dataset_index.set_index('Страна', inplace=True)
dataset_index.head()

,Дата,Параметр,Продукт,Значение,r1,r2,Юнит
Страна,,,,,,,
Australia,12.01.2023,Net Electricity Production,Electricity,22646.1901,8,719,GWh
Australia,12.01.2023,Net Electricity Production,Total Combustible Fuels,13397.9356,100,227,GWh
Australia,12.01.2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,80,919,GWh
Australia,12.01.2023,Net Electricity Production,Oil and Petroleum Products,289.5415,90,890,GWh
Australia,12.01.2023,Net Electricity Production,Natural Gas,3091.9272,98,704,GWh

In [22]:
print(dataset_index.columns)
dataset_reset = dataset_index.reset_index(names = ['Страна'])
dataset_reset.head()

Index(['Дата', 'Параметр', 'Продукт', 'Значение', 'r1', 'r2', 'Юнит'], dtype='object')

,Страна,Дата,Параметр,Продукт,Значение,r1,r2,Юнит
0,Australia,12.01.2023,Net Electricity Production,Electricity,22646.1901,8,719,GWh
1,Australia,12.01.2023,Net Electricity Production,Total Combustible Fuels,13397.9356,100,227,GWh
2,Australia,12.01.2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,80,919,GWh
3,Australia,12.01.2023,Net Electricity Production,Oil and Petroleum Products,289.5415,90,890,GWh
4,Australia,12.01.2023,Net Electricity Production,Natural Gas,3091.9272,98,704,GWh

In [23]:
dataset_drop = dataset_reset.drop(columns=['Юнит'])
dataset_drop.head()

,Страна,Дата,Параметр,Продукт,Значение,r1,r2
0,Australia,12.01.2023,Net Electricity Production,Electricity,22646.1901,8,719
1,Australia,12.01.2023,Net Electricity Production,Total Combustible Fuels,13397.9356,100,227
2,Australia,12.01.2023,Net Electricity Production,"Coal, Peat and Manufactured Gases",9768.5223,80,919
3,Australia,12.01.2023,Net Electricity Production,Oil and Petroleum Products,289.5415,90,890
4,Australia,12.01.2023,Net Electricity Production,Natural Gas,3091.9272,98,704

In [24]:
dataset_rename = dataset_rename.reset_index()

dataset_concat = pd.concat([dataset_rename, dataset_reset]).reset_index(drop = True)
dataset_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242158 entries, 0 to 242157
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Страна    242158 non-null  object
 1   Дата      242158 non-null  object
 2   Параметр  242158 non-null  object
 3   Продукт   242158 non-null  object
 4   Значение  242112 non-null  object
 5   r1        242158 non-null  int64
 6   r2        242158 non-null  int64
 7   Юнит      242158 non-null  object
dtypes: int64(2), object(6)
memory usage: 14.8+ MB

In [25]:
dataset_concat.tail()

,Страна,Дата,Параметр,Продукт,Значение,r1,r2,Юнит
242153,United States,01.01.2010,Total Imports,Electricity,5808.577,42,331,GWh
242154,United States,01.01.2010,Total Exports,Electricity,996.567,7,165,GWh
242155,United States,01.01.2010,Used for pumped storage,Electricity,2283.322,96,831,GWh
242156,United States,01.01.2010,Distribution Losses,Electricity,22933.297,83,603,GWh
242157,United States,01.01.2010,Final Consumption (Calculated),Electricity,343866.418,86,739,GWh